* {
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
@font-face {
    font-family: barlow-black;
    src: url(barlow/Barlow-Black.ttf);
    font-family: barlow-extra-light;
    src: url(barlow/Barlow-ExtraLight.ttf)
  }
body {
    
}
@media (max-width:375px) {
    #logo {
        position: absolute;
        top: 0px;
        margin-top: 30px;
        margin-left: 15px;
    }
    #menu-icon {
        position: absolute;
        top: 0px;
        right: 0px;
        margin-top: 25px;
        margin-right: 15px;
    }
    #menu-icon div {
        width: 30px;
        height: 3px;
        background-color: hsl(0, 0%, 100%);
        margin: 6px 0;
      }
    #first-point {
        margin: 0px;
        padding: 0px;
        position: relative;
    }
    #first-point img:first-child {
        max-width: 100%;
        display: block;
    }
    #first-point p {
        position: absolute;
        display: block;
        top: 100px;
        color: hsl(0, 0%, 100%);
        font-size: 300%;
        width: 100%;
        text-align: center;
        font-family: barlow-black;
    }
    #first-point img:last-child {
        position: absolute;
        top: 50%;
        left: 45%;
    }
    #menu-items {
        background-color: hsl(0, 0%, 100%);
        text-align: center;
        width: 90%;
        height: 250px;
        position: absolute;
        z-index: 2;
        right: 20px;
        top: 20%;
        display: none;
        font-family: barlow-extra-light;
    }
    #menu-items li {
        color: hsl(213, 9%, 39%);
        font-size: 15px;
        padding-top: 30px;
    }
    #menu-items span {
        background-color: hsl(51, 100%, 49%);
        padding: 5px;
        border-radius: 7px;
    }
    
    #second-point {
        margin: 0px;
        padding: 0px;
    }
    #second-point img {
        display: block;
        /* max-height: 100%; */
        max-width: 100%;
        margin: 0px;
        padding: 0px;
    }
    #first-word {
        padding: 30px 20px;
        font-family: barlow-extra-light;
    }
    #first-word p:first-child {
        font-weight: bold;
        font-size: 25px;
        text-align: center;
        margin-bottom: 15px;
    }
    #first-word p:nth-child(2) {
        text-align: center;
        color: hsl(213, 9%, 39%);
        margin-bottom: 15px;
    }
    #first-word p:last-child {
        text-align: center;
    }
    
}